{% extends "base.html" %}
{% block content %}
    <h1>
      Members List
      <a href="{% url 'club:member-create' %}" class="btn btn-primary">&#10133;</a>
    </h1>
    {% block search %}
      {% include "includes/search.html" %}
    {% endblock %}
    <br>
    {% if member_list %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Username</th>
        <th>First name</th>
        <th>Last name</th>
        <th>experience</th>
        <th>number of violets</th>
        <th>status</th>
        <th>country</th>
        <th>city</th>
      </tr>
    {% for member in member_list %}
      <tr>
        <td>{{ member.id }}</td>
        <td><a href="{{ member.get_absolute_url }}">{{ member.username }} {% if user == member %} (Me){% endif %}</a></td>
        <td>{{ member.first_name }}</td>
        <td>{{ member.last_name }}</td>
        <td>{{ member.experience }}</td>
        <td>{{ member.violets.count }}</td>
        <td>{{ member.status }}</td>
        <td>{{ member.country }}</td>
        <td>{{ member.city }}</td>
      </tr>
    {% endfor %}
    </table>
    {% else %}
      <p>There are no members in the club.</p>
    {% endif %}
{% endblock %}
